# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Checkpoints
checkpoints/
experiments/
*.pt
*.pth

# Logs
logs/
wandb/
runs/
tensorboard/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Cache
.cache/